//- Liveleak documentation of parameters
p.
  <b>Liveleak</b> ist ein Videoanbieter. Folgender zusätzlicher Parameter ist möglich:
+parameter-start('liveleak')
p.text-right: a(href="#", title="data-bind=click:function(){toggle('#liveleak-id')}") Wie finde ich die ID eines Liveleak-Videos?
#liveleak-id(style="display:none")
  h6.top20: strong Liveleak-ID manuell ermitteln
  p.
    Sobald Sie die Einzelansicht des gewünschten Videos auf der Liveleak-Seite aufgerufen haben, können Sie die benötigte ID
    des Objekts folgendermaßen ermitteln:
  ol
    li
      | Klicken Sie auf die Schaltfläche <span class="label red">Embed Code</span>:
      .clearfix: img.googledrive(alt="videoload/liveleak-id1.jpg")
    li
      | Kopieren Sie den angezeigten iframe-Einbettungscode am besten in einen Texteditor. Der markierte Text entspricht der ID.
      .clearfix: img.googledrive(alt="videoload/liveleak-id2.jpg")