//- Metacafe documentation of parameters
p.
  <b>Metacafe</b> ist ein Videoanbieter. Er verfügt über keine besonderen Parameter.
h6.top20: strong Beispiel
p Es soll ein Metacafe-Video mit der ID '11419703' in einem Blogbeitrag eingebunden werden:
+LiveView("metacafe", "11419703")
p.text-right: a(href="#", title="data-bind=click:function(){toggle('#metacafe-id')}") Wie finde ich die ID eines Metacafe-Videos?
#metacafe-id(style="display:none")
  h6.top20: strong Metacafe-ID manuell ermitteln
  p.
    Sobald Sie die Einzelansicht des gewünschten Videos auf der Metacafe-Seite aufgerufen haben, können Sie die benötigte ID des Objekts aus verschiedenen Quellen ermitteln:
  ol
    li
      | Oben aus der angezeigten Browser-URL (die einfachste Methode):
      .clearfix: img.googledrive(alt="videoload/metacafe-id1.jpg")
    li
      | Alternativ klicken Sie unter der Videoanzeige auf das Symbol <span class="label">Share</span>:
      .clearfix: img.googledrive(alt="videoload/metacafe-id2.jpg")
    li
      | Kopieren Sie nun den Einbettungscode mit <span class="code">Strg-C</span> (Windows) oder <span class="code">Cmd-C</span> (Mac)
      | in die Zwischenablage.
      .clearfix: img.googledrive(alt="videoload/metacafe-id3.jpg")
    li
      | Öffnen Sie einen Texteditor (z.B. Notepad in Windows) und fügen Sie den Text aus der Zwischenablage ein (Strg-V in Windows, Cmd-V für Mac).
      | Der blau markierte Text hinter der Kennung "/embed/" entspricht der gesuchten ID.
      .clearfix: img.googledrive(alt="videoload/metacafe-id4.jpg")