//- vevo documentation of parameters
p.
  <b>Vevo</b> ist ein Anbieter von Musikvideos. Er verfügt über keine besonderen Parameter.
h6.top20: strong Beispiel
p Es soll ein Vevo-Video mit der ID 'GBUV71300569' in einem Blogbeitrag eingebunden werden:
+LiveView("vevo", "GBUV71300569")
p.text-right: a(href="#", title="data-bind=click:function(){toggle('#vevo-id')}") Wie finde ich die ID eines Vevo-Videos?
#vevo-id(style="display:none")
  h6.top20: strong Vevo-ID manuell ermitteln
  p.
    Sobald Sie die Einzelansicht des gewünschten Videos auf der Vevo-Seite aufgerufen haben, können Sie die benötigte ID
    des Objekts folgendermaßen ermitteln:
  ol
    li
      | Oben aus der angezeigten Browser-URL (die einfachste Methode):
      .clearfix: img.googledrive(alt="videoload/vevo-id1.jpg")
    li
      | Alternativ klicken Sie auf das Symbol <span class="label">Teilen</span> und anschließend auf <span class="label">#{lt}/#{gt} Embed Code</span> :
      .clearfix: img.googledrive(alt="videoload/vevo-id2.jpg")
    li
      | Im folgenden Bildschirm deaktivieren Sie Autoplay und den ergänzenden Text durch zweimaligen Klick auf "Nein",
      | danach kopieren Sie den iframe-Befehl über die unten angezeigte Schaltfläche:
      .clearfix: img.googledrive(alt="videoload/vevo-id3.jpg")
    li.
      Mit Hilfe eines kleinen Dekodierungstools können Sie auch eine Vevo-Short-Url (vevo.ly/&hellip;)
      entschlüsseln und die gesuchte ID extrahieren. Geben Sie die Vevo-Short-URL in das Eingabefeld 
      unten ein. Das Tool wird Ihnen dann die gesuchte ID anzeigen.
  h6.top20: strong Tool: Video-ID einer Vevo-Short-URL dekodieren
  p(style="font-size:0.9em").
    Falls Sie eine Vevo-Short-URL haben, kopieren Sie diese in das nachstehende Eingabefeld. Ist die Kurz-URL gültig, wird die nebenstehende
    Schaltfläche aktiviert. Nach einem Klick darauf wird die gesuchte ID des Videos angezeigt.
  .row
    .small-12.medium-6.columns
      label Vevo-Short-URL hier hineinkopieren
        input#shortLink(type="text", title="data-bind=textInput: shortLink | data-!placeholder=http://vevo.ly/")
    .small-12.medium-6.columns
      label &nbsp;
      button.tiny.radius(
        style="margin-top:0",
        title="data-bind=enable: isValidLink, click: getVevoID, clickBubble: false"
      ) Vevo-Short-URL dekodieren...
  .row: .small-12.columns
    .alert-box(title="data-bind=html: userMessage, visible: hasMessage(), css: isError") msg
  p(style="font-size:0.9em"): a(href="", title="data-bind=click: resetForm, clickBubble: false") Formular zurücksetzen
