//- vevo documentation of parameters
p.
  <b>Vevo</b> ist ein Anbieter von Musikvideos. Er verfügt über keine besonderen Parameter.
h6.top20: strong Beispiel
p Es soll ein Vevo-Video mit der ID 'GBUV71300569' in einem Blogbeitrag eingebunden werden:
+LiveView("vevo", "GBUV71300569")
p.text-right: a(href="#", title="data-bind=click:function(){toggle('#vevo-id')}") Wie finde ich die ID eines Vevo-Videos?
#vevo-id(style="display:none")
  h6.top20: strong Vevo-ID manuell ermitteln
  p.
    Sobald Sie die Einzelansicht des gewünschten Videos auf der Vevo-Seite aufgerufen haben, können Sie die benötigte ID
    des Objekts folgendermaßen ermitteln:
  ol
    li
      | Oben aus der angezeigten Browser-URL (die einfachste Methode):
      .clearfix: img.googledrive(alt="videoload/vevo-id1.jpg")
    li
      p.
        Leider bietet Vevo keinen direkten Embed-Code mehr an. Mit Hilfe eines kleinen Dekodierungstools lässt sich die
        gesuchte ID jedoch aus der Vevo-Short-URL extrahieren. Falls Sie also nur eine Vevo-Short-URL haben, können Sie
        diese in das Eingabefeld unten hineinkopieren. Das Tool wird Ihnen dann die gesuchte ID anzeigen.
      p.
        Die Vevo-Short-URL beginnt stets mit <b>http://vevo.ly/</b>. Sie erhalten Sie z.B. auch, wenn Sie unter dem
        Video auf <span class="label">Teilen</span> klicken:
      .clearfix: img.googledrive(alt="videoload/vevo-id2.jpg")
      p danach auf <span class="label">Share Link</span>:
      .clearfix: img.googledrive(alt="videoload/vevo-id3.jpg")
      p um dann die angezeigte Vevo-Short-URL zu kopieren:
      .clearfix: img.googledrive(alt="videoload/vevo-id4.jpg")
  h6.top20: strong Tool: Video-ID einer Vevo-Short-URL dekodieren
  p(style="font-size:0.9em").
    Bitte kopieren Sie eine Vevo-Short-URL in das nachstehende Eingabefeld. Ist die Kurz-URL gültig, wird die nebenstehende
    Schaltfläche aktiviert. Nach einem Klick darauf wird die gesuchte ID des Videos angezeigt.
  .row
    .small-12.medium-6.columns
      label Vevo-Short-URL hier hineinkopieren
        input#shortLink(type="text", title="data-bind=textInput: shortLink | data-!placeholder=http://vevo.ly/")
    .small-12.medium-6.columns
      label &nbsp;
      button.tiny.radius(
        style="margin-top:0",
        title="data-bind=enable: isValidLink, click: getVevoID, clickBubble: false"
      ) Vevo-Short-URL dekodieren...
  .row: .small-12.columns
    .alert-box(title="data-bind=html: userMessage, visible: hasMessage(), css: isError") msg
  p(style="font-size:0.9em"): a(href="", title="data-bind=click: resetForm, clickBubble: false") Formular zurücksetzen
