//- vimeo documentation of parameters
p.
  <b>Vimeo</b> ist ein Videoanbieter. Folgender zusätzlicher Parameter ist möglich:
h6.top20 <span class="label">linkcol</span> &mdash; Farbe für Links festlegen
p.
  Sie können die Farbe der Vimeo-Links auf dem Video einstellen. Dies empfiehlt sich z.B., wenn durch den
  Hintergrund des Videos die Links nur schlecht sichtbar sind. Wählen Sie dann eine passende Farbe aus
  und ergänzen diese im Parameter <span class="code">linkcol-<b>ffffff</b></span>. Fehlt der Parameter, wird
  standardmäßig die <span style="color:#00adef">Linkfarbe '00adef' verwendet</span>.
p.
  Farbcodes werden als 6-stellige Hexadezimalzahl kodiert. Welche Farbe welchen Hexcode besitzt, können Sie z.B. auf
  <a target="_blank" href="http://htmlcolorcodes.com/color-picker/">dieser Webseite</a> herausfinden.
h6.top20: strong Beispiele
p Es soll ein Vimeo-Video mit der ID '125947740' in Superbreitbild in einem Blogbeitrag eingebunden werden:
+LiveView("vimeo <b>ratio-2.37037</b>", "125947740")
p Das Vimeo-Video soll zusätzlich mit der Linkfarbe 'c9ff23' angezeigt werden:
+LiveView("vimeo <b>linkcol-c9ff23</b> ratio-2.37037", "125947740")
p.text-right: a(href="#", title="data-bind=click:function(){toggle('#vimeo-id')}") Wie finde ich die ID eines Vimeo-Videos?
#vimeo-id(style="display:none")
  h6.top20: strong Vimeo-ID manuell ermitteln
  p.
    Sobald Sie die Einzelansicht des gewünschten Videos auf der Vimeo-Seite aufgerufen haben, können Sie die benötigte ID
    des Objekts aus verschiedenen Quellen ermitteln:
  ol
    li
      | Oben aus der angezeigten Browser-URL (die einfachste Methode):
      .clearfix: img.googledrive(alt="videoload/vimeo-id1.jpg")
    li
      | Alternativ klicken Sie auf das Symbol <span class="label">Share</span>:
      .clearfix: img.googledrive(alt="videoload/vimeo-id2.jpg")
    li
      | danach können Sie die ID vom Ende des Links oder aus dem Einbettungsbefehl kopieren (am besten mithilfe einen Texteditors):
      .clearfix: img.googledrive(alt="videoload/vimeo-id3.jpg")