doctype html
html(lang="de")
  head
    meta(charset="UTF-8")
    title Testseite Twoday-Tool, v#{pkgVersion}
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    script(src="https://static.twoday.net/sys.files/js/jquery/jquery.min.js")
    script(src="https://static.twoday.net/cdn/files/fastclick-min-js.js")
    link(rel="stylesheet", href="https://neonwilderness.twoday.net/main.css")
    link(rel="stylesheet", href="https://static.twoday.net/cdn/files/foundation55-min-css.css")
    link(rel="stylesheet", href="https://static.twoday.net/cdn/files/rainy-min-css.css")
    script(src="https://static.twoday.net/cdn/files/modernizr-custom-min-js.js")    
  body.videotool2.debug
    .inner-wrap
      #foundation5.container
        .row
          #content.large-9
            #videotool2.story
              h3.storyTitle Videotool (Version #{pkgVersion})
              .storyContent: include ./videotool-version2.pug
          #sidebar.large-3
    script(src="https://static.twoday.net/cdn/files/loader-min-js.js")
